.doc{
  position: relative;
  .side{
    width: 150px;
    height: 100px;
    background: lightpink;
    position: absolute;
  }
  .content{
    padding: 10px;
    margin-left: 150px;
    width: calc(100% - 150px);
    // height: 100px;
    background: lightgreen;
  }
}
div template{
  display: block;
}